<div class="suggest-index-bg">
	<div class="suggest-content">
		<article class="suggest-form">
			<h2>Suggest me</h2>
			<%= form_tag({controller: "suggests", action: "search"}, method: "post") do %>
				<div class="suggest-input">
					<%= label_tag( :place_city, 'City: ') %>
					<%= select("place", "city", Place.pluck(:city).uniq ) %>
				</div>
				<div class="suggest-input">
					<%= label_tag( :tourist, 'Tourist: ') %>
					<span class="description"></span>
					<%=  range_field_tag(:tourist, 0 ,options = {min:0, max: 5}) %>
				</div>
				<div class="suggest-input">
					<%= label_tag( :relax, 'Relaxing places: ') %>
					<span class="description"></span>
					<%=  range_field_tag(:relax, 0 ,options = {min:0, max: 5}) %>
				</div>
				<div class="suggest-input">
					<%= label_tag( :drink, 'Drink: ') %>
					<span class="description"></span>
					<%=  range_field_tag(:drink, 0 ,options = {min:0, max: 5}) %>
				</div>
				<div class="suggest-input">
					<%= label_tag( :money, 'Money: ') %>
					<span class="description"></span>
					<%=  range_field_tag(:money, 0 ,options = {min:0, max: 5}) %>
				</div>
				<div class="suggest-input">
					<%=  hidden_field_tag(:user_lat) %>
					<%=  hidden_field_tag(:user_lon) %>
				</div>
				<%= submit_tag('Suggest me a plan') %>
			<% end %>	
		</article>
	</div>	
</div>

<script>
	$(document).ready(function(){
		$(".suggest-content").css('height', window.innerHeight -48+'px');
		$('input[type="range"]').change(function(){
			if($(this).prop('id') == "tourist" && $(this).val() == 5){
				console.clear();
				console.meme("visit","all the places","All the things");
			}
			if($(this).prop('id') == "money" && $(this).val() == 5){
				console.clear();
				console.meme("shut up","and take my money","Shut Up And Take My Money");
			}
			if($(this).prop('id') == "drink" && $(this).val() == 5){
				console.clear();
				console.image("http://www.quickmeme.com/img/50/5037d1be80d8c6f83e17a5c7940506864ecdd318c478ca5c064b5581cb3df2e7.jpg");
			}
			if($(this).prop('id') == "relax" && $(this).val() == 5){
				console.clear();
				console.image("http://33.media.tumblr.com/f2aac79813ebcf2a59a2c04632bd18fb/tumblr_msykukqgkw1s79da0o1_500.gif");
			}
		})
	})
</script>