	<div class="suggest-content">
		<article>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime quia provident aut sit maiores dignissimos, dolores enim recusandae, nam quod alias adipisci eius blanditiis reprehenderit natus! Dolorum esse quis tempore!</article>
		<article class="suggest-form">
			<h2>Suggest me</h2>
			<%= form_tag({controller: "suggests", action: "search"}, method: "post") do %>
				<div class="suggest-input">
					<%= label_tag( :place_city, 'City: ') %>
					<%= select("place", "city", Place.pluck(:city).uniq ) %>
				</div>
				<div class="suggest-input">
					<%= label_tag( :tourist, 'Tourist: ') %>
					<span class="description"></span>
					<%=  range_field_tag(:tourist, 0 ,options = {min:0, max: 5}) %>
				</div>
				<div class="suggest-input">
					<%= label_tag( :relax, 'Relaxing places: ') %>
					<span class="description"></span>
					<%=  range_field_tag(:relax, 0 ,options = {min:0, max: 5}) %>
				</div>
				<div class="suggest-input">
					<%= label_tag( :drink, 'Drink: ') %>
					<span class="description"></span>
					<%=  range_field_tag(:drink, 0 ,options = {min:0, max: 5}) %>
				</div>
				<div class="suggest-input">
					<%= label_tag( :money, 'MONEY: ') %>
					<span class="description"></span>
					<%=  range_field_tag(:money, 0 ,options = {min:0, max: 5}) %>
				</div>
				<div class="suggest-input">
					<%=  hidden_field_tag(:user_lat) %>
					<%=  hidden_field_tag(:user_lon) %>
				</div>
				<%= submit_tag('Suggest me a plan') %>
			<% end %>	
		</article>
	</div>
	<script>
		$(document).ready(function(){
			$('input[type="range"]').change(function(){
				switch(this.id){
					case 'tourist': textTourist($(this)); break;
					case 'relax': textRelax($(this)); break;
					case 'drink': textDrink($(this)); break;
					case 'money': textMoney($(this)); break;
				}
			});
			//fill user position in form
			(function(){
				navigator.geolocation.getCurrentPosition(function(e){
					$("#user_lat").val(e.coords.latitude);
					$("#user_lon").val(e.coords.longitude);
				});
			})();				
		});
		function textTourist(element){
			var description = element.siblings(".description");
			switch(element.val()){
				case "0": description.html("I already visited the city"); break;
				case "1": break;
				case "2": break;
				case "3": description.html('Let\'s do a tour around the city'); break;
				case "4": description.html('Let\'s do a tour around the city'); break;
				case "5": description.html('Visit all the places! <img src="http://troll.me/images/x-all-the-things/lets-do-this.jpg" style="display: inline; height: 70px; width: 100px; vertical-align: middle;">'); break;
			}
		}
		function textMoney(element){
			var description = element.siblings(".description");
			switch(element.val()){
				case "0": description.html("I don't need money to have fun"); break;
				case "1": break;
				case "2": break;
				case "3": description.html('I don\'t care about the money'); break;
				case "4": break;
				case "5": description.html('<img src="http://genophoria.files.wordpress.com/2012/11/shut-up-and-take-my-money.jpg" style="display: inline; height: 70px; width: 100px; vertical-align: middle;">'); break;
			}
		}
	</script>