<article id="edit-user-form">
	<h2>User Profile</h2>
	<%= form_for @user do |f| %>
		 <div class="register-input">
	    <%= f.text_field :name, placeholder: "Name" %>
	  </div>
		 <div class="register-input">
	    <%= f.text_field :surname, placeholder: "Surname" %>
	  </div>
		 <div class="register-input">
		 	<span>Birthday: </span>
	    <%= f.date_field :birthday %>
	  </div>
		 <div class="register-input">
		 	<span>Genre:</span>
	    <%= f.select :genre, %w[Male Female]  %>
	  </div>
		<div class="place-input">
			<span>Avatar:</span>
			<%= f.label :avatar, "Choose your file", class: "btn" %>
	    <%= f.file_field :avatar%>
	  </div>
	  <div class="register-input">
	  	<span>Map icon:</span>
	    <%= f.select :marker, %w[smile apple heart mario octocat pokeball] %>
	  </div>
	  <%= link_to('Cancel', home_path , class: "btn btn-cancel") %>
	  <%= f.submit 'Update', class: "btn" %>
	<% end %>	
</article>
  <% if @user.errors.any? %>
  	<div class="alert alert--error alert-register-error">
  		<ul>
				<% @user.errors.full_messages.each do |error_msg| %>
					<li><%= error_msg %></li>
				<% end %>
			</ul>
  	</div>
  <% end %>