<section class="welcome-page">
	<h2>Forgot your password?</h2>

	<section id="login-form">

		<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
		  <%= devise_error_messages! %>

		  <div class="field">
		    <%= f.label :email, "Type your email here" %>
		    <%= f.email_field :email, autofocus: true %>
		  </div>

		  <div class="actions">
		    <%= f.submit "Send me password reset" %>
		  </div>
		<% end %>

	</section>
</section>
<script>
  $(document).ready(function(){
    $(".welcome-page").css('height','100vh');
    $(".main-content").css('margin-top','0');
    $('input[type="submit"]').css('width','100%').css('background', 'white').css('color', '#2196f3');
    $("h2").css('text-align','center');
  });
</script>
