<section class="welcome-page">
  <h2>Log in</h2>

  <section id="login-form">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="register-input">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true %>
      </div>

      <div class="register-input">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <div class="actions">
        <%= f.submit "Log in", class: "btn" %>
        <%= render "devise/shared/links" %>
      </div>
    <% end %>

  </section>
</section>
<script>
  $(document).ready(function(){
    $(".welcome-page").css('height','100vh');
    $(".main-content").css('margin-top','0');
    $('input[type="submit"]').css('float','none').css('width','100%');
    $("h2").css('text-align','center');
  });
</script>
