<!DOCTYPE html>
<html>
<head>
  <title>PlanRecommend</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<nav class="nav--top js-over-lightbox">
		<div id="js-btn--burguer" class="btn--burguer">
			<div>
			    <span class="the-burguer"></span>
			    <span class="the-burguer"></span>
			    <span class="the-burguer"></span>
			</div>
		</div>
		<ul id="js-toggle-menu" class="nav--top_list navbar-list">
			<li>
				<a href="/" class="link--top">Home page</a>
			</li>
			<li>
				<a href="<%= places_path %>" class="link--top">Look for places</a>
			</li>
			<li>
				<a href="" class="link--top">My comments</a>
			</li>
			<li>
				<a href="" class="link--top">Add a place to the page</a>
			</li>
		</ul>
		<figure class="user-avatar">
			<a href="">
				<img src="https://lh6.googleusercontent.com/-6aYrI1noB_4/VMtZnRLtBOI/AAAAAAAADA0/R2Ol5aBRPuw/s374-no/10155417_822204781140480_70017398_n%2B%281%29.jpg" alt="">				
			</a>
			<a href="" class="badge">
				<span>2</span>
			</a>
		</figure>
	</nav>
		
	<section class="main-content">

		<%= yield %>

	</section>


</body>
</html>
