<!DOCTYPE html>
<html>
<head>
  <title>PlanRecommend</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<% unless current_user.nil? %>
		<nav class="nav--top js-over-lightbox">
			<div id="js-btn--burguer" class="btn--burguer">
				<div>
				    <span class="the-burguer"></span>
				    <span class="the-burguer"></span>
				    <span class="the-burguer"></span>
				</div>
			</div>
			<ul id="js-toggle-menu" class="nav--top_list navbar-list">
				<li>
					<%= link_to('Home page', home_path, class: 'link--top') %>
				</li>
				<li>
					<%= link_to('List of places', places_path, class: 'link--top') %>
				</li>
				<li>
					<%= link_to('Nearby places', nearby_places_path, class: 'link--top' ) %>
				</li>
				<li>
					<%= link_to('Add place to web', new_place_path, class: 'link--top') %>
				</li>
				<li>
					<%= form_tag destroy_user_session_path, method: :delete do %>
					  <%= submit_tag "Logout", class: "link--top" %>
					<% end %>
				</li>
			</ul>
			<img class="logo-image-nav" src="/images/logo.png" alt="logo">
			<figure class="user-avatar">
				 <%= link_to image_tag(current_user.avatar), edit_user_path(current_user) %>
			</figure>
		</nav>
	<% end %>
		
	<section class="main-content">

		<%= yield %>

	</section>

</body>
</html>
