<!DOCTYPE html>
<html>
<head>
  <title>PlanRecommend</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
		--layout
		<%= link_to('List of places', places_path) %>
	</header>

<%= yield %>

</body>
</html>
